:root {
    --ifm-color-primary: hsl(217, 63%, 46%);
    --ifm-color-primary-dark: hsl(217, 63%, 44%);
    --ifm-color-primary-darker: hsl(217, 63%, 42%);
    --ifm-color-primary-darkest: hsl(217, 63%, 40%) b;
    --ifm-color-primary-light: hsl(217, 63%, 48%);
    --ifm-color-primary-lighter: hsl(217, 63%, 50%);
    --ifm-color-primary-lightest: hsl(217, 63%, 52%);
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
    --ifm-color-primary: #eaa22f;
    --ifm-color-primary-dark: hsl(217, 63%, 46%);
    --ifm-color-primary-darker: hsl(217, 63%, 44%);
    --ifm-color-primary-darkest: hsl(217, 63%, 42%);
    --ifm-color-primary-light: hsl(217, 54%, 73%);
    --ifm-color-primary-lighter: hsl(217, 54%, 75%);
    --ifm-color-primary-lightest: hsl(217, 54%, 77%);
    --docusaurus-highlighted-code-line-bg: #232933;
}
